/* HEADER */

.pageHeader{
    border: 1px solid rgb(235, 237, 240);
    font-family: miracle day;
    font-weight: bold;
}

/* PoemBody */

.container{
    padding: 1em 0;
    text-align: center;
    margin: 2em auto;
    width: 80%;
    border: 1px solid rgb(235, 237, 240);
}

.authorSelect{
    width:"400px",
}